#container {
    border: 2px solid rgb(167, 162, 162);
    background-color: #ffffff;
    padding: 15px;
    padding-top: 1px;
    box-sizing: border-box;
    width: 35%;
    border-radius: 10px;
    margin: 10px;
}

* {
    margin: 1px;
    padding: 3px
}

h4 {
    font-weight: 400;
    font-size: 2rem;
}